<!DOCTYPE html>
<html lang="en">


{{>head}}

<body class="text-center">
    <div class="main-content">
        {{>nav}}
        <div class="container" style="width: 25rem;">
            <form class="form-inline d-flex justify-content-center">
                <input class="form-control form-control-lg" placeholder="Location...">
                <button class="btn btn-outline-secondary btn-lg" type="submit">Search</button>
            </form>

            <div class="">
                <p class="alert msgOne" id="msgOne"></p>
                <p class="alert msgTwo" id="msgTwo"></p>
            </div>
        </div>


    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>