{{!-- <footer class="fixed-bottom d-flex justify-content-center">
    <p style="padding-right: 5px;">Version: 1.0.0</p>
    <p>|</p>
    <p style="padding-left: 5px;">Developed by <a href=" https://github.com/rsupanta">{{name}}</a></p>
</footer> --}}
<footer class="footer">
    <p class="footer-text">Version: 1.0 | Developed by <a href=" https://github.com/rsupanta">{{name}}</a></p>
</footer>